h1{
    color:rgb(63, 235, 6);
    text-align:center;
}

h2{
    color:rgb(5, 80, 19);
    text-align:center;
}
h3{
    color:rgb(10, 174, 215);
    text-align:center;
}
h4{
    color:rgb(2, 31, 6);
    text-align:center;
}