.box{
    background-color:aqua  ; 
background-image: url("C:\\manjuuu\\IMG_20250327_111948_136.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px
}

.fontstyling{
    font-family: Arial;
    font-size: 50px;
    font-weight: 800;
    line-height: 1.5;
    font-style:italic;
}

pre{
    font-style: italic;
    font-size: 15px;
    color: rgb(142, 16, 7);
    width: 100%;
}